# Project exclude paths
/order-service/order-application/target/
/order-service/order-container/target/
/order-service/order-dataaccess/target/
/order-service/order-domain/order-application-service/target/
/order-service/order-domain/order-domain-core/target/
/order-service/order-domain/target/
/order-service/order-messaging/target/
/target/
/.idea/
/infrastructure/docker-compose/volumes/
/infrastructure/kafka/kafka-model/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/infrastructure/kafka/kafka-model/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/infrastructure/kafka/kafka-model/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/infrastructure/kafka/kafka-model/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/infrastructure/kafka/kafka-model/target/kafka-model-1.0-SNAPSHOT.jar
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/OrderApprovalStatus.class
/infrastructure/kafka/kafka-model/target/classes/avro/payment_request.avsc
/infrastructure/kafka/kafka-model/target/classes/avro/payment_response.avsc
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/PaymentOrderStatus.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/PaymentRequestAvroModel$Builder.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/PaymentRequestAvroModel.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/PaymentResponseAvroModel$Builder.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/PaymentResponseAvroModel.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/PaymentStatus.class
/infrastructure/kafka/kafka-model/target/maven-archiver/pom.properties
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/Products$Builder.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/Products.class
/infrastructure/kafka/kafka-model/target/classes/avro/restaurant_approval_request.avsc
/infrastructure/kafka/kafka-model/target/classes/avro/restaurant_approval_response.avsc
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/RestaurantApprovalRequestAvroModel$Builder.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/RestaurantApprovalRequestAvroModel.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/RestaurantApprovalResponseAvroModel$Builder.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/RestaurantApprovalResponseAvroModel.class
/infrastructure/kafka/kafka-model/target/classes/com/food/ordering/system/kafka/order/avro/model/RestaurantOrderStatus.class
